body { 
font-family: Arial, sans-serif;
font-size:small;
color:black;
margin:2%;
padding:0; /* Opera */


background-color:#666;
}

#conteneur {
padding:3%;
background-color:white;
border:1px solid black;
width:750px;
margin:auto;
}

#colA {
/*
width:60%;
*/
}

#colB {
position:absolute;
top:100px;
right:100px;
width:350px;
border:1px solid blue;
float:right;
}

h1 {
font-size:x-large;
margin:20px 0 10px;
font-family: "Trebuchet MS", Arial, sans-serif;
}

h2 {
font-family: "Trebuchet MS", Arial, sans-serif;
font-size:large;
}

h3 {
font-size:normal;s
}

h4 {
/*clear:both;*/
}

del {
text-decoration:line-through;
}

label { 
display:block;
}

pre {
font-size:medium;
margin-left:2%;
}

abbr {
cursor:help;
}

p, li {
}

p {
text-align:justify;
}


a img {
border:0;
}


input, select, label, textarea {
font-family:Verdana, Arial, sans-serif;
font-size:small;
margin-bottom:5px;
padding:2px;
}

input[type=submit] {
margin:0 0 7px;
}

/* ------------------- */


.smaller {
font-size:smaller;
}


hr {
padding:0;margin:0;border:0;
margin-top:20px;
padding-top:10px;
border-top:1px solid #999;
clear:both;
}


/* -------------------------- */

.scrsht {
display:block;
border:1px solid red;
float:left;
margin-right:10px;
margin-bottom:10px;
}

.cmt {
float:left;
width:200px;
padding:5px;
border:1px solid lime;
margin:5px;
margin-left:0;
border:1px solid #eee;
}

.url {
margin:5px 0;
clear:both;
font-weight:bold;
}

.tags {
font-size:larger;
font-weight:bold;
}

h3 {
clear:both;
padding-top:5px;
padding-bottom:5px;
border-bottom:1px dotted black;
width:60%;
}

div.item {
clear:both;
margin:10px 0;
border:1px solid #ddd;
/*width:60%;*/
padding:10px;
}


.A {
float:left;
clear:left;
}

.B {
float:right;
clear:right;
}

h4 {
margin:0;
font-size:larger;
}

.clear {
clear:both;
}