body { 
font-family: Arial, sans-serif;
font-size:small;
color:black;
margin:2%;
padding:0; /* Opera */

/*demo*/
background-color:#666;
min-height:800px;
}

#conteneur {
background-color:white;
border:1px solid black;
width:700px;
margin:auto;
}

#header {
background:url("style/texture.gif");
border-bottom:solid 1px #ccc;
color:white;
}

#content , #footer {
padding:0 10px;
}

#content {
margin:25px;
}

#colA {
/*
width:60%;
*/
}

#colB {
position:absolute;
top:100px;
right:100px;
width:350px;
border:1px solid blue;
float:right;
}

h1 {
font-size:x-large;
margin:0px 0 10px;
font-family: "Trebuchet MS", Arial, sans-serif;
}

h1 a {
color:white;
}

h2 {
font-family: "Trebuchet MS", Arial, sans-serif;
font-size:large;
clear:both;
}

h3 {
font-size:normal;
}

h4 {
/*clear:both;*/
}

del {
text-decoration:line-through;
}

label { 
display:block;
}

pre {
font-size:medium;
margin-left:2%;
}

abbr {
cursor:help;
}

p, li {
}

p {
text-align:justify;
}


a img {
border:0;
}


/* */

#top {
/*border:1px solid lime;*/
width:425px;
float:left;
/*margin-bottom:10px;*/
padding:10px;
}

#top a {
color:white;
}

#login {
border:1px solid #ccc;
width:175px;
margin:15px 15px 15px 0;
float:right;
padding:10px;
color:black;
background-color:white;
}

#login form {
}

#login input {
font-size:10px;
display:block;
}

/* */

form {
margin:0;
padding:0;
}

input, select, label, textarea {
font-family:Verdana, Arial, sans-serif;
font-size:x-small;
margin-bottom:5px;
padding:2px;
}

input[type=checkbox] , input.checkbox {
vertical-align:-40%;
}

input[type=submit] {
margin:0 0 7px;
}

/* ------------------- */


.smaller {
font-size:smaller;
}


hr {
padding:0;margin:0;border:0;
margin-top:20px;
padding-top:10px;
border-top:1px solid #999;
clear:both;
}


/* -------------------------- */

.scrsht {
display:block;
border:1px solid red;
float:left;
margin-right:10px;
margin-bottom:10px;
}

.cmt {
float:left;
width:200px;
padding:5px;
border:1px solid lime;
margin:5px;
margin-left:0;
border:1px solid #eee;
}

.url {
margin:5px 0;
clear:both;
font-weight:bold;
}

a.private_tag {
color:#00CC00;
text-decoration:none;
}
a.public_tag {
color:#CC0000;
text-decoration:none;
}


.tags {
font-size:larger;
font-weight:bold;
}

.smaller {
font-size:11px;;
font-weight:normal;
}

h3 {
clear:both;
padding-top:5px;
padding-bottom:5px;
border-bottom:1px dotted black;
width:60%;
}

div.item {
clear:both;
margin:10px 0;
border:1px solid #ddd;
padding:10px;
}


.A {
float:left;
clear:left;
}

.B {
float:right;
clear:right;
}

h4 {
margin:0;
font-size:larger;
clear:both;
}

.clear {
clear:both;
}

/* --------------- */


/* MINI */

body.mini {
min-height:0;
}

.mini #conteneur {
width:auto;
font-size:xx-small;
}

.mini #header {
display:none;
}

.mini #footer {
display:none;
}

.mini h3 {
margin:0 0 10px;
}

.mini label {
}

.mini #content {
padding:5px 10px;
margin:0;
}

.mini select, .mini input, .mini textarea {
font-family: Arial, sans-serif;
font-size:x-small;
}

input.submit {
margin:5px 0;
display:block;
font-size:x-small;
font-weight:bold;
}

/* --------------- */


.error {
font-weight:bold;
color:red;
}


#footer {
font-size:xx-small;
}

#footer p {
margin:2px 5px 5px;
padding:0;
}

/* --------------- */

label {
font-weight:bold;
}

#menu {
clear:both;
padding:5px 10px;
background-color:#ccc;
}

#menu ul {
margin:0;
padding:0;
height:17px;
}

#menu li {
font-weight:bold;
float:left;
list-style-type:none;
margin-right:40px;
}

#footer {
font-size:xx-small;
}
