;; $Id: config.ini.dist,v 1.4 2004/03/29 13:30:19 benfle Exp $

[DB_DataObject]
;; @see    http://pear.php.net/manual/en/package.database.db-dataobject.intro-configuration.php

database         = mysql://user:pass@host/Blogmarks
schema_location  = /blogmarks/Element
class_location   = /blogmarks/Element
require_prefix   = blogmarks/Element/

;; Ces valeurs ne devraient pas avoir à être modifiées.
class_prefix     = Element_
extends_location = blogmarks/
extends          = Element.php
ignore_sequence_keys = "bm_Marks_has_bm_Tags,bm_Tags"