;; $Id: config.ini.dist,v 1.3 2004/03/17 10:40:19 mbertier Exp $

[DB_Dataobject]
;; @see    http://pear.php.net/manual/en/package.database.db-dataobject.intro-configuration.php

database         = mysql://user:pass@host/Blogmarks
schema_location  = /blogmarks/Element
class_location   = /blogmarks/Element
require_prefix   = blogmarks/Element/

;; Ces valeurs ne devraient pas avoir à être modifiées.
class_prefix     = Element_
extends_location = blogmarks/
extends          = Element.php
ignore_sequence_keys = "bm_Marks_has_bm_Tags,bm_Tags"